* {
  /* pour que le padding et le border ne changent pas les dimensions des éléments */
  box-sizing: border-box;
}
.App {
  width: 40%;
  margin: 0 auto;
  border: 1px solid silver;
  padding: 5px;
}

/* pourl'entête */
.MyHeader{
  display: flex;
}
.MyHeader img {
  max-width: 150px;
}
/* Pied de page */
.MyFooter {
  text-align: center;
}
/* Personnalisation des boutons */ 
.MyButton {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    display: block;
    font-size: 1.2em;
}
/* Résultat */
.resultat {
  width: 100%;
  background: black;
  color: lime;
  text-align: right;
  font-size: 2.5em;
  padding: 2px;
}
/* Formulaire */
.ok {
  border-color: limegreen;
}
.ko {
  border-color: crimson;
}
label {
  display: block;
  font-size: 1.3em;
}
input {
  width: 100%;
  font-size: 2em;
}